name: CI/CD Pipeline
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs: 
  build-and-push:
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        service: [usersapi, tasksapi, notificationsrv]
        include:
          - service: usersapi
            dockerfile: src/UsersApi/Dockerfile
          - service: tasksapi
            dockerfile: src/TasksApi/Dockerfile
          - service: notificationsrv
            dockerfile: src/NotificationService/Dockerfile
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Image
        run: docker build -f ${{ matrix.dockerfile }} -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest src
      - name: Push Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest